@model Proyecto1V1.Models.Vaccines

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Vaccines</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="brand" class="control-label"></label>
                <input asp-for="brand" class="form-control" />
                <span asp-validation-for="brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="application_date" class="control-label"></label>
                <input asp-for="application_date" class="form-control" />
                <span asp-validation-for="application_date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lot_number" class="control-label"></label>
                <input asp-for="lot_number" class="form-control" />
                <span asp-validation-for="lot_number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="expiration_date" class="control-label"></label>
                <input asp-for="expiration_date" class="form-control" />
                <span asp-validation-for="expiration_date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="application_place" class="control-label"></label>
                <input asp-for="application_place" class="form-control" />
                <span asp-validation-for="application_place" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="observations" class="control-label"></label>
                <input asp-for="observations" class="form-control" />
                <span asp-validation-for="observations" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
