@{
    ViewData["Title"] = "Alergias";
}

<h1>Registro de alergias</h1>

<h4>Registre las alergias experimentadas</h4>
<hr />

@{
    List<Alergies> alergiesList = ViewBag.Alergies;
}
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <label class="control-label">¿Padece de alergias? (Marque todas las que correspondan)</label>
            <br />
            @foreach(var item in alergiesList){
                <div class="form-group">
                    <input type="checkbox" name="adv-@item.id" value="@item.id">
                    <label for="adv-@item.id">@item.description</label><br>
                </div>
            }
            <br />
            <div class="form-group">
                <input type="submit" value="Registrar y continuar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
